body {
    background: linear-gradient(to right, #CFE0FF, #8BD59E);
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #CFE0FF, #8BD59E);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    /* z-index: -5; */
    overflow: scroll;
    position: absolute;
    /* hide scroll bar */
    scrollbar-width: none;
    padding-bottom: 300px;
}


.header-wave {
    /* background: linear-gradient(to right, #CFE0FF, #8BD59E); */
    z-index: 1;
    position: absolute;
    bottom: 0;

}

.header-wave img {
    width: 100%;
    position: absolute;
}

.wave {
    position: absolute;
    height: 20vw;
    width: 100%;
    /* z-index: 10; */
    width: 100vw;
}

.waveSup {
    position: absolute;
}

.waveSup,
.lastWave {
    width: 100vw;
}

.waveWhite {
    margin-top: 5px;
}


#visual5 {
    transform: scale(1, -1);
    position: relative;
    top: -5px;
}

#visual7 {
    transform: scale(1, -1);
    position: relative;
    top: -5px;

}

#visual7 path {
    fill: #CFE0FF;
}

#loader {
    transition-duration: 3s;
}

#loader #contentLoader {
    background: linear-gradient(to top, #CFE0FF, #8BD59E);
    display: flex;
    justify-content: center;
    align-items: center;
}


#visual6 {
    background: linear-gradient(to right, #CFE0FF, #8BD59E);
    position: relative;
    top: -5px;
    z-index: 10;
}


.text {
    color: white;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width: 50%;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#downloadCv {
    background: linear-gradient(to right, #CFE0FF, #8BD59E);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Assistant', sans-serif;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 30px #00000032;
    border: 0px;
}


.projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projets h2 {
    color: #1B2738;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1.5vw;

}



/* for mobile */
@media only screen and (max-width: 768px) {

    .text {
        /* font-size: 2em; */
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        width: 85%;

    }

}

@media only screen and (max-width: 1200px) and (min-width: 768px) {}

.nekshor {
    border: 2px solid white;
    border-radius: 15px;
}